.main-image {
  height: 500px;
  background-size: 100%, cover;
  background-position: center, center;
  width: 100%;
  position: relative;
}

.main-image-text {
  position: absolute;
  max-width: 500px;
  bottom: 2rem;
  margin-left: 2rem;
}

.body-cards {
  width: 85%;
  margin: 1rem auto;
}
